html {
  margin: 0;
}

#clock {
  color: rgb(0, 24, 40);
  text-align: center;
}

h1 {
  font-family: "Josefin Slab", serif;
}

h2 {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, rgb(91, 91, 255), rgb(250, 165, 0));
}
