html {
  margin: 0;
}

#clock {
  color: rgb(0, 24, 40);
  text-align: center;
}

div {
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: 15px 15px 10px rgba(0, 0, 44, 0.5);
  border-radius: 10px;
}

h1 {
  font-family: "Josefin Slab", serif;
  margin: 0.5em;
}

h2 {
  margin: 0.5em;
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to right, #3b90a4, #f55467);
}
